body {
    background-color: pink;  
    color: white; 
    font-family: "Lovers Quarrel", cursive;
    justify-content: center;
}

.topcontainer {
    justify-content: center;
    text-align: center;
}
